body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Background*/

.background {
  background-color: #dddddd;
  min-height: 100vh;
}

.backgroundImage{
  background-image: url('../public/header-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}

h1 {
  color: white;
  font-size: xxx-large;
  font-weight: bolder;
}

h2{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  /* text-shadow: 1px 1px #a6a6a6; */
}

h4 {
  color: white;
}

h5 {
  color: white;
}

/*dropdown menu width*/
.custom-dropdown-menu {
  min-width: 8px;
}

/*blue button colour*/
.blue-button-color {
  background-color: #006;
  border-color: #006;

}

/*yellow button colour*/
.yellow-button-color {
  background-color: #e18400;
  border-color: #e18400;

}

/*yellow colour */
.yellow-colour {
  color: #e18400;
}

/*blue colour */
.blue-colour {
  color: #006;
}

/*logo*/
.logo {
  font-weight: bolder;
  font-size: larger;
}

/*text weight in navbar*/
.nav-text {
  font-weight: 600;

}



/* Custom CSS for form*/
.my-custom-container {
  max-width: 400px;
  /* Adjust the width as needed */
  /* Add any other custom styles for the container if required */
}


table {
  width: 100%;
  border-collapse: collapse;
  /* Add any table styles here */
}

td {
  border: 1px solid #000000;
  padding: 8px;
  font-weight: 500;
  /* Add any table cell styles here */
}

th {

  border: 2px solid #000000;
  padding: 8px;
  font-weight: 800;
  /* Add any table header styles here */
}


.approve-button {
  background-color: #e18400;
  border-color: #e18400;
  border-radius: 5px;
  color: white;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.reject-button {
  background-color: #d32424;
  border-color: #d32424;
  border-radius: 5px;
  color: white;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

/* image in card */
.card .card-img-top {
  max-width: 35%; /* Image won't exceed the width of the card */
  height: auto; /* Maintain aspect ratio */
}



/* Media queries for responsive design */
@media (max-width:300px) {
  h1 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 0.888rem;
  }

  h5{
    font-size: 0.666rem;
  }
  .yellow-button-color {
    font-size: 14px;
    /* Adjust the font size to your preference */
    padding: 5px 10px;
    /* Adjust the padding to your preference */
  }

  .card .card-img-top {
    max-width: 100%;
    height: auto;
  }

}

@media (max-width:480px) and (min-width:300px) {
  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }
  .yellow-button-color {
    font-size: 14px;
    /* Adjust the font size to your preference */
    padding: 5px 10px;
    /* Adjust the padding to your preference */
  }

}

@media (max-width:768px) and (min-width:480px) {

  

}

@media(min-width:768px) {

}