body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cityName
{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  font-size: 45px;
  padding-top: 150px;
  text-shadow: 2px 2px 2px #5d5d5d;
  
  
}

h2 {
  font-family:'Roboto', sans-serif;
  color: white;
  text-align: center;
  font-size: 42px;
  font-weight: 600px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #5d5d5d;
}

th{
  font-family:'Roboto', sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 200px;
}

td{
  font-family:'Roboto', sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 200px;
}

p{
  font-family:'Roboto', sans-serif;
  color: white;
  font-size: 20px;
}

li{
  font-family:'Roboto', sans-serif;
  color: white;
  font-size: 16px;
}


.background{
  background-image: linear-gradient(103.24deg, rgba(0, 8, 29, 0.3) 10.83%, rgba(0, 8, 29, 0.3) 60.1%),url("/src/image/background1.jpg");
  min-height: 600px;
  background-repeat: no-repeat;
}