body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cityName
{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  font-size: 45px;
  padding-top: 150px;
  text-shadow: 2px 2px 2px #5d5d5d;
  
  
}